@import "tailwindcss";
@plugin "daisyui";

/* App.css */
.app {
  text-align: center;
  margin-top: 50px;
}

input {
  padding: 10px;
  margin-right: 10px;
}

button {
  padding: 10px;
}

.weather {
  margin-top: 20px;
}
